
@{
    ViewBag.Title = "UIExpenseDetails";
}
<section>
    <div style="height:150px"></div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <p id="showToday"> </p>
                <button id="btnModal" class="btn btn-info" style="float:right">Add New</button>
                <div>
                    <table id="tblExpD" class="display responsive nowrap" style="width: 100%;font-size: 10px;">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Rate</th>
                                <th>Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</section>

<section>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:100%;">
                <div class="modal-header">
                    <span id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</span>
                    <h2 class="modal-title">Case Study List</h2>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;">
                        <div style="display: inline-block; text-align: left;">
                            <span style="padding: 10px;">From Date: <input type="text" class="form-group" id="PtxtfrmDate" /></span>
                            <span style="padding: 10px;">To Date: <input type="text" class="form-group" id="PtxttoDate" /></span>
                            <span style="padding: 10px;"><button class="btn btn-info" id="PbtnSrc">Search</button></span>
                        </div>
                    </div>
                    <hr style="border:1px solid" />
                    <div>



                        <table id="tblGpList" class="display responsive nowrap" style="width: 100%;font-size: 10px;">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Case Study No</th>
                                    <th>Apt Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/Scripts/UIExpenseDetails/UIExpenseDetails.js");
}